.login-form {
  width: 30%;
  height: auto;
  border: 3px solid;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 25px;
}

#main-header {
  display: block;
  /* width: 100%;
  height: 100%; */
  margin-right: auto;
  margin-left: auto;
  /* height: 25rem; */
  border-radius: 30%;
  margin-bottom: 30px;
  padding-top: 30px;
  /* object-fit:cover; */
}

.background-purple {
  background-image: linear-gradient(rgb(127, 83, 172), rgb(91, 91, 220));
  height: 100%;
}

.username {
  font-weight: bold;
  cursor: pointer;
}

.ui.nav {
  margin: 1rem 12px;
  border: solid black 3px
}

.ui.cards.board-scroll {
  width: 100%;
  overflow: auto;
  flex-wrap: nowrap;
  border: solid black 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: whitesmoke;
}

.ui.card.card-board-scroll {
  cursor: pointer;
  flex: 0 0 auto;
  border: solid black 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-profile {
  position: relative;
  margin: 0 auto;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 600px;
  border: solid black 3px;
  border-radius: 5%;
  background-color: whitesmoke;
}

.ui.medium.image.border-image {
  border: solid black 5px;
  margin-bottom: 20px;
}

.header-margin {
  margin: 60px 0 20px 80px;
}

.board-margin {
  margin: 0 30px 0 30px;
}

.home {
  padding-bottom: 200px;
}

.logout-button {
  position: absolute;
  right: -305px;
  top: -126px;
}

.ui.button.button-center {
  margin: 0 auto;
  display: block;
}

.login-padding {
  padding-bottom: 200px;
}

.board-option-name {
  display: inline-block;
  width: 80%;
}

.board-option-number {
  display: inline-block;
  width: 20%;
  text-align: right;
}

.ui.grid.grid-margin {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 10px;
  justify-content: center;
}

.ui.grid.grid-width-50 {
  width: 50%;
}

.ui.grid.grid-width-30 {
  width: 30%;
}

.header-board {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid black 3px;
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30%;
}

.ui.card.card-margin {
  border: solid black 5px;
  margin-bottom: 20px;
}

.card-img-container {
  background: whitesmoke;
  height: 300px;
}

.card-img {
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.vote-button {
  margin: 0 auto;
  width: 111px;
  margin-bottom: 200px;
}

.comments-section {
  width: 600px;
  margin: 0 auto;
  border: solid black 3px;
  padding: 20px 20px 50px;
  border-radius: 25px;
  background-color: whitesmoke;
}

.ui.button.add-comment-button {
  position: absolute;
  right: 0px;
}

.app-content {
  padding: 0px 20px 100px;
}

.creator-click {
  cursor: pointer;
}

.total-votes {
  text-align: center;
}

.create-form {
  width: 70%;
  height: auto;
  border: 3px solid;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 25px;
}

.options-container {
  border: solid black 4px;
  padding: 20px;
}

.option-delete-btn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.create-board {
  border: dotted black 10px;
  margin: 0 auto;
  display: block;
}

.avatar-border {
  border: solid black 3px;
}

.ui.header.profile-form {
  display: block;
}

.comment-box {
  border: solid black 3px;
}

.card-size-homepage {
  height: 300px;
  object-fit: contain;
}

.followers-list {
  margin: 0 auto;
  width: 20%;
  border: solid black 3px;
  border-radius: 20%;
  padding: 20px;
  background-color: whitesmoke;
}

.followers-header {
  cursor: pointer;
}

.ui.header.header-padding {
  padding: 15px;
}

.profile-navbar {
  padding: 20px;
}

.top-rank-image {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.rest-rank-image {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
}

.rank-image-size {
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: solid black 5px;
  margin-bottom: 20px;
}

.header-topvoters {
  border: solid black 3px;
  background-color: whitesmoke;
}

.ribbon {
  width: 120px;
  position: absolute;
  bottom: 50px;
  right: -20px;
}

.ribbon-position {
  position: relative;
  cursor: pointer;
}

.border-list {
  border: dotted black 10px;
  margin: 0 auto;
  display: block;
  padding: 5px;
}

.pointer-cursor {
  cursor: pointer;
}